$AAred: #D50525;
$AAgreen: #04822C;
$AAorange: #D4380D;
$AAblue: #2771CD;
$SelectedBlue: #14509C;
$TextDarkGrey: #333333;
$TextMidGrey: #4A4A4A;
$TextLightGrey: #535353;
$TextLightestGrey: #777777;
$SelctectSecondary: #000000;


// Secondary
