{% extends "layout.html" %}

{% block page_title %}
  Just Eat Prototyping kit
{% endblock %}

{% block content %}

<style>

</style>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        Breadcrumbs
      </h1>

      <div class="breadcrumb">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Account</a></li>
          <li><a href="#">Order history</a></li>
          <li><a href="#" class="active">Order details</a></li>
        </ul>
      </div>

      <div class="code-snippet">
        <h2 class="heading-medium">Code snippet</h2>

        <textarea rows="8">
          <div class="breadcrumb">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Account</a></li>
              <li><a href="#">Order history</a></li>
              <li><a href="#" class="active">Order details</a></li>
            </ul>
          </div>
        </textarea>
      </div>

    </div>
  </div>
</main>

{% endblock %}
