{% extends "layout.html" %}

{% block page_title %}
  Just Eat Prototyping kit
{% endblock %}

{% block content %}

  <div class="breadcrumb">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Account</a></li>
          <li><a href="#">Order history</a></li>
          <li><a href="#" class="active">Order details</a></li>
        </ul>
      </div>

  <div class="JE-heroimage">
    <h1>Find your flavour</h1>
    <h2>Order takeaway online from over 27,000 restaurant.</h2>
    <div class="search">
      <div class="wrapper">
        <h2>Search for a restaurant, postcode or area</h2>
        <input placeholder="Gourmet Burger, SW22"></input>
        <button>Find restaurants</button>
      </div>
    </div>
  </div>

  <div class="serp">
    <div class="wrapper">
      <div class="card">
        <div class="rest-logo"></div>
          <div class="content">
            <h3><a href="#">Hello Boss Kebab</a></h3>
            <p>SE23 1.4 miles</p>
            <p>Kebab</p>
            <div class="rating"></div>
          </div>
        </div>

      <div class="card">
        <div class="rest-logo"></div>
          <div class="content">
            <h3><a href="#">Hello Boss Kebab</a></h3>
            <p>SE23 1.4 miles</p>
            <p>Kebab</p>
            <div class="rating"></div>
          </div>
      </div>

      <div class="card">
        <div class="rest-logo"></div>
          <div class="content">
            <h3><a href="#">Hello Boss Kebab</a></h3>
            <p>SE23 1.4 miles</p>
            <p>Kebab</p>
            <div class="rating"></div>
          </div>
        </div>

    </div>
  </div>


  <div class="forms">
    <div class="wrapper">
      <div class="form-group">
        <label>Name</label>
        <input></input>
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input></input>
      </div>
      <div class="form-group">
        <button>Continue to payment</button>
      </div>
    </div>
  </div>


  <div class="JE-footer">
        <div class="container">
          <div class="col-4">
            <h4>Customer Service</h4>
            <ul>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Log in</a></li>
              <li><a href="#">Sign up</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Mobile Apps</a></li>
              <li><a href="#">Suggest a restaurant</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">My account</a></li>
            </ul>
          </div>

          <div class="col-4">
            <h4>Top cuisines</h4>
            <ul>
              <li><a href="#">Chinese</a></li>
              <li><a href="#">Indian</a></li>
              <li><a href="#">Italian</a></li>
              <li><a href="#">Japanese</a></li>
              <li><a href="#">Pizza delivery</a></li>
              <li><a href="#">View all cuisines</a></li>
            </ul>
          </div>

          <div class="col-4">
            <h4>Locations</h4>
            <ul>
              <li><a href="#">Birmingham</a></li>
              <li><a href="#">Cardiff</a></li>
              <li><a href="#">Glasgow</a></li>
              <li><a href="#">Leeds</a></li>
              <li><a href="#">Manchester</a></li>
              <li><a href="#">View all locations</a></li>
            </ul>
          </div>

          <div class="col-4">
            <h4>A bit more about us</h4>
            <ul>
              <li><a href="#">Restaurant sign up</a></li>
              <li><a href="#">Price promise</a></li>
              <li><a href="#">How do we use cookies?</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Company website</a></li>
              <li><a href="#">Jobs</a></li>
            </ul>
          </div>

          <div class="other-logos">
          </div>
        </div>
      </div>



{% endblock %}
