{% extends "layout.html" %}

{% block page_title %}
  Just Eat Prototyping kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        Footer
      </h1>

      <div class="JE-footer">
        <div class="container">
          <div class="col-4">
            <h4>Customer Service</h4>
            <ul>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Log in</a></li>
              <li><a href="#">Sign up</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Mobile Apps</a></li>
              <li><a href="#">Suggest a restaurant</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">My account</a></li>
            </ul>
          </div>

          <div class="col-4">
            <h4>Top cuisines</h4>
            <ul>
              <li><a href="#">Chinese</a></li>
              <li><a href="#">Indian</a></li>
              <li><a href="#">Italian</a></li>
              <li><a href="#">Japanese</a></li>
              <li><a href="#">Pizza delivery</a></li>
              <li><a href="#">View all cuisines</a></li>
            </ul>
          </div>

          <div class="col-4">
            <h4>Locations</h4>
            <ul>
              <li><a href="#">Birmingham</a></li>
              <li><a href="#">Cardiff</a></li>
              <li><a href="#">Glasgow</a></li>
              <li><a href="#">Leeds</a></li>
              <li><a href="#">Manchester</a></li>
              <li><a href="#">View all locations</a></li>
            </ul>
          </div>

          <div class="col-4">
            <h4>A bit more about us</h4>
            <ul>
              <li><a href="#">Restaurant sign up</a></li>
              <li><a href="#">Price promise</a></li>
              <li><a href="#">How do we use cookies?</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Company website</a></li>
              <li><a href="#">Jobs</a></li>
            </ul>
          </div>

          <div class="other-logos">
          </div>
        </div>
      </div>

      <div class="code-snippet">
        <h2 class="heading-medium">Code snippet</h2>

        <textarea rows="8">
          <div class="JE-footer">
            <div class="container">
              <div class="col-4">
                <h4>Customer Service</h4>
                <ul>
                  <li><a href="#">Contact us</a></li>
                  <li><a href="#">Log in</a></li>
                  <li><a href="#">Sign up</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Mobile Apps</a></li>
                  <li><a href="#">Suggest a restaurant</a></li>
                  <li><a href="#">Help</a></li>
                  <li><a href="#">My account</a></li>
                </ul>
              </div>

              <div class="col-4">
                <h4>Top cuisines</h4>
                <ul>
                  <li><a href="#">Chinese</a></li>
                  <li><a href="#">Indian</a></li>
                  <li><a href="#">Italian</a></li>
                  <li><a href="#">Japanese</a></li>
                  <li><a href="#">Pizza delivery</a></li>
                  <li><a href="#">View all cuisines</a></li>
                </ul>
              </div>

              <div class="col-4">
                <h4>Locations</h4>
                <ul>
                  <li><a href="#">Birmingham</a></li>
                  <li><a href="#">Cardiff</a></li>
                  <li><a href="#">Glasgow</a></li>
                  <li><a href="#">Leeds</a></li>
                  <li><a href="#">Manchester</a></li>
                  <li><a href="#">View all locations</a></li>
                </ul>
              </div>

              <div class="col-4">
                <h4>A bit more about us</h4>
                <ul>
                  <li><a href="#">Restaurant sign up</a></li>
                  <li><a href="#">Price promise</a></li>
                  <li><a href="#">How do we use cookies?</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Company website</a></li>
                  <li><a href="#">Jobs</a></li>
                </ul>
              </div>

              <div class="other-logos">
              </div>
            </div>
          </div>
        </textarea>
      </div>

    </div>
  </div>
</main>

{% endblock %}
