{% extends "layout.html" %}

{% block page_title %}
  Just Eat Prototyping kit
{% endblock %}

{% block content %}

<style>
</style>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        Forms
      </h1>

      <div class="forms">
        <div class="wrapper">
          <div class="form-group">
            <label>Name</label>
            <input></input>
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input></input>
          </div>
          <div class="form-group">
            <button>Continue to payment</button>
          </div>
        </div>
      </div>

      <div class="code-snippet">
        <h2 class="heading-medium">Code snippet</h2>

        <textarea rows="8">
          <div class="forms">
            <div class="wrapper">
              <div class="form-group">
                <label>Name</label>
                <input></input>
              </div>
              <div class="form-group">
                <label>Phone</label>
                <input></input>
              </div>
              <div class="form-group">
                <button>Continue to payment</button>
              </div>
            </div>
          </div>
        </textarea>
      </div>

    </div>
  </div>
</main>

{% endblock %}
