{% extends "layout.html" %}

{% block page_title %}
  Just Eat Prototyping kit
{% endblock %}

{% block content %}

<style>
</style>

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        Hero Image
      </h1>

      <div class="JE-heroimage">
        <h1>Find your flavor</h1>
        <h2>Order takeaway online from over 27,000 restaurant.</h2>
      </div>

      <div class="code-snippet">
        <h2 class="heading-medium">Code snippet</h2>

        <textarea rows="8">
          <div class="JE-heroimage">
            <h1>Find your flavor</h1>
            <h2>Order takeaway online from over 27,000 restaurant.</h2>
          </div>
        </textarea>
      </div>

    </div>
  </div>
</main>

{% endblock %}
