{% extends "layout.html" %}

{% block page_title %}
  Just Eat Prototyping kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Just Eat prototype kit</h1>
      <p class="lede">
        This is a WIP of the Just Eat prototyping kit. From here you can grab small snippets of code and make your own working prototypes.
      </p>

      <h2 class="heading-medium">Elements</h2>

			<ul class="list list-bullet">
				<li><a href="headers">Headers</a></li>
        <li><a href="breadcrumb">Breadcrumbs</a></li>
        <li><a href="footer">Footer</a></li>
        <li><a href="heroimage">Hero Image</a></li>
        <li><a href="search">Search module</a></li>
        <li><a href="forms">Forms</a></li>
        <li><a href="tabs">Tabs</a></li>
        <li><a href="serp">SERP</a></li>
			</ul>

      <a href="example">Example page</a>

    </div>
  </div>
</main>

{% endblock %}
