{% extends "layout.html" %}

{% block page_title %}
  Just Eat Prototyping kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        SERP
      </h1>

      <div class="serp">
        <div class="wrapper">
          <div class="card">
            <div class="rest-logo"></div>
              <div class="content">
                <h3><a href="#">Hello Boss Kebab</a></h3>
                <p>SE23 1.4 miles</p>
                <p>Kebab</p>
                <div class="rating"></div>
              </div>
            </div>

          <div class="card">
            <div class="rest-logo"></div>
              <div class="content">
                <h3><a href="#">Hello Boss Kebab</a></h3>
                <p>SE23 1.4 miles</p>
                <p>Kebab</p>
                <div class="rating"></div>
              </div>
          </div>

          <div class="card">
            <div class="rest-logo"></div>
              <div class="content">
                <h3><a href="#">Hello Boss Kebab</a></h3>
                <p>SE23 1.4 miles</p>
                <p>Kebab</p>
                <div class="rating"></div>
              </div>
          </div>

        </div>
      </div>

      <div class="code-snippet">
        <h2 class="heading-medium">Code snippet</h2>

        <textarea rows="8">
          <div class="serp">
            <div class="wrapper">
              <div class="card">
                <div class="rest-logo"></div>
                  <div class="content">
                    <h3><a href="#">Hello Boss Kebab</a></h3>
                    <p>SE23 1.4 miles</p>
                    <p>Kebab</p>
                    <div class="rating"></div>
                  </div>
                </div>
              </div>
            </div>
        </textarea>
      </div>

    </div>
  </div>
</main>

{% endblock %}
